<% include includes/header %>


<style>
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}
</style>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<form class="form-signin" action="/savePage/<%= pageData.displayName %>" method="post">
<%- libs.editHtmlHelper.savePageBackToDash() %>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
                <label class="checkbox">
                  <input type="checkbox" name="allowComments" value="true" <% if(pageData.allowComments){ %> checked <% } %> > Enable facebook comments
                </label>
                <div class="well" style="overflow: hidden;">
                    <input type="text" placeholder="Post Title" name="postTitle">
                    <input type="text" placeholder="Add youtube video by link" name="postVideo">
                    <textarea style="width:100%;" placeholder="Post Text" rows="4" name="postText"></textarea>
                    <button class="pull-right btn" type="submit" name="submit" value="true">
                        Submit Post
                    </button>
                </div>
                <% for(var i=pageData.blogPosts.length-1; i>=0; i--) {%>
                    <div class="well" style="overflow: hidden;">
                        <h4 class="media-heading"><%= pageData.blogPosts[i].heading %></h4>
                        <p><%= pageData.blogPosts[i].text %></p>
                        <div><%- pageData.blogPosts[i].video %></div>
                        <button class="pull-right btn" type="submit" name="deletePost" value="<%=i%>">
                            Delete Post
                        </button>
                        <% if(pageData.allowComments){ %>
                        <div class="fb-comments" data-href="<%- pageData.blogPosts[i].commentUrl %>" num_posts="3" data-width="460px"></div>
                        <% } %>

                    </div>
                <% } %>
        </div>
    </div>             
</div>
</form>
<% include includes/footer %>