<% include includes/header %>

<style>
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}
</style>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <% for(var i=pageData.blogPosts.length-1; i>=0; i--) {%>
                <div class="well">
                	<h4 class="media-heading"><%= pageData.blogPosts[i].heading %></h4>
                	<p><%= pageData.blogPosts[i].text %></p>

                    <div style="width: 100%;text-align: center;">
                            <% if(pageData.blogPosts[i].video){ %>
                                <iframe style="width:100%;max-width:560px;height:315px;display: inline-block;vertical-align:top;" src="//www.youtube.com/embed/<%- pageData.blogPosts[i].video %>?rel=0" frameborder="0" allowfullscreen></iframe>
                            <% } %>
                            <% if(pageData.blogPosts[i].img){ %>
                                <img style="max-width:100%;max-height:315px;display: inline-block;<% if(pageData.blogPosts[i].imgBorder){ %> border: solid 2px; <% } %>" src="<%- pageData.blogPosts[i].img %>">
                            <% } %>
                    </div>

                    <% if(pageData.allowComments){ %>
                            <div class="fb-comments" data-href="<%- pageData.pageLink %><%- pageData.blogPosts[i].commentUrl %>" num_posts="3" data-width="460px"></div>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>             
</div>
<% include includes/footer %>