<% include includes/header %>
<div class="container-fluid">
    <!-- Main hero unit for a primary marketing message or call to action
    -->
    <div class="row-fluid">
        <div class="span8">

            <div class="hero-unit">
                <h1>
                    <%= largeTitle %>
                </h1>
                <p>
                    <%= slogan %>
                </p>
                <p>
                    <a href="about.php" class="btn btn-primary btn-large">Learn more &raquo;</a>
                </p>
            </div>

        </div>
        <div class="span4">
            <img style="<!--border-style:solid;border-width:5px;-->margin-top:30px;" src="<%= bigLogo %>" width="220px">
        </div>


    </div>
    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span4">
            <h2>
                <%= blockHeading1 %>
            </h2>
            <p>
                <%- block1 %>
            </p>
        </div>
        <div class="span4">
            <h2>
                <%= blockHeading2 %>
            </h2>
            <p>
                <%- block2 %>
            </p>
        </div>
        <div class="span4">
            <h2>
                <%= blockHeading3 %>
            </h2>
            <p>
                <%- block3 %>
            </p>
        </div>
    </div>
</div>
<% include includes/footer %>